/* body:before{
  background-color: #774368;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 3;
  pointer-events: none;
  -webkit-app-region: drag;
} */

body {
   
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
